<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'header.html' ignore missing %}
  <title>Quản lý nhân viên | HTCC KPISYSTEM</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    {% include 'navbar.html' ignore missing %} {% include 'sidebar.html'
    ignore missing %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>QUẢN LÝ NHÂN VIÊN</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Danh sách nhân viên</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      
      <!-- Test -->
      <section class="col-lg-12 connectedSortable">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">
                <i class="fa-solid fa-list-ol"></i>
                DANH SÁCH NHÂN VIÊN
            </h3>
        <button class="btn btn-success float-right" id="addEmployeeButton">
          THÊM NHÂN VIÊN
        </button>
          </div>
        <div class="card-body">
          <table class="table table-bordered table-hover display" id="dashboard_bangdsnv_moi">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">ID Thẻ</th>
                <th scope="col">Họ Tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Hệ Số Lương</th>
                <th scope="col">Lương Cơ Bản</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chức năng</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </section>


    <!--Xem TT Chi Tiết-->
    <div
      class="modal fade"
      id="employeeDetailsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              CHI TIẾT NHÂN VIÊN
            </h5>
            <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <!-- Nội dung sẽ được cập nhật bởi JavaScript -->
          </div>
          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            >
            Đóng
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- Chỉnh sửa Nhân Viên -->
    <div
    class="modal fade"
    id="editEmployeeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editEmployeeModalLabel"
    aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editEmployeeModalLabel">
              CẬP NHẬT THÔNG TIN NHÂN VIÊN
            </h5>
            <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editEmployeeForm">
              <input type="hidden" id="employeeId" />
              <div class="form-group">
                <label for="employeeIdThe">ID Thẻ</label>
                <input
                type="text"
                class="form-control"
                id="employeeIdThe"
                required
                />
              </div>
              <div class="form-group">
                <label for="employeeName">Họ Tên</label>
                <input
                type="text"
                class="form-control"
                id="employeeName"
                required
                />
              </div>
              <div class="form-group">
                <label for="employeeGender">Giới tính</label>
                <select
                class="form-control"
                id="employeeGender"
                required>
                  <option value="1">Nam</option>
                  <option value="0">Nữ</option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label for="employeeBirthday">Ngày sinh</label>
                <input
                type="date"
                class="form-control"
                id="employeeBirthday"
                required
                />
              </div> -->
              <div class="form-group">
                <label for="employeeEmail">Email</label>
                <input
                type="email"
                class="form-control"
                id="employeeEmail"
                required
                />
              </div>
              <div class="form-group">
                <label for="employeeAddress">Địa chỉ</label>
                <input
                type="text"
                class="form-control"
                id="employeeAddress"
                required
                />
              </div>
              <!-- <div class="form-group">
                <label for="employeeDepartmens">Phòng ban</label>
                <input
                type="text"
                class="form-control"
                id="employeeDepartmens"
                required
                />
              </div> -->
              <div class="form-group">
                <label for="employeePosition">Chức vụ</label>
                <select
                class="form-control"
                id="employeePosition"
                required
                >
                  <option value="1">Quản lý</option>
                  <option value="2">Trưởng phòng</option>
                  <option value="3">Nhân Viên</option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label for="employeeSalaryCoefficient">Hệ số lương</label>
                <input
                  type=""
                  class="form-control"
                  id="employeeSalaryCoefficient"
                  required
                  step="0.01"
                />
              </div> -->
              <div class="form-group">
                <label for="employeeBasicSalary">Lương Cơ Bản</label>
                <input
                  type="number"
                  class="form-control"
                  id="employeeBasicSalary"
                  required
                />
              </div>
              <div class="form-group">
                <label for="employeeStatus">Trạng thái</label>
                <select
                  class="form-control"
                  id="employeeStatus"
                  required
                >
                  <option value="1">Ðang làm việc</option>
                  <option value="0">Nghỉ việc</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">
                Lưu thay đổi
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
          
      
    <!-- Thêm Nhân Viên -->
    <div
    class="modal fade"
    id="addEmployeeModal"
    tabindex="-1"
    aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">
              Thêm Nhân Viên Mới
            </h5>
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            ></button>
          </div>
          <form id="addEmployeeForm">
            <div class="modal-body">
              <!-- Các trường nhập liệu -->
              <div class="form-group">
                <label for="employeeIdThe">ID Thẻ:</label>
                <input
                  type="text"
                  class="form-control"
                  id="employeeIdThe"
                  required
                />
              </div>
              <div class="form-group">
                <label for="newEmployeeDepartment">Phòng ban</label>
                <select
                id="newEmployeeDepartment"
                class="form-control"
                ></select>
              </div>
              <div class="form-group">
                <label for="newEmployeeName">Họ tên:</label>
                <input
                type="text"
                class="form-control"
                id="newEmployeeName"
                required
                />
              </div>
              <div class="form-group">
                <label for="newEmployeeGender">Giới tính</label>
                <select id="newEmployeeGender" class="form-control">
                  <option value="1">Nam</option>
                  <option value="0">Nữ</option>
                </select>
              </div>
              <div class="form-group">
                <label for="newEmployeeBirthday">Ngày sinh</label>
                <input
                type="date"
                class="form-control"
                id="newEmployeeBirthday"
                required
                />
              </div>
              <div class="form-group">
                <label for="newEmployeeAddress">Địa chỉ</label>
                <input
                type="text"
                class="form-control"
                id="newEmployeeAddress"
                required
                />
              </div>
              <div class="form-group">
                <label for="newEmployeeEmail">Email</label>
                <input
                type="email"
                class="form-control"
                id="newEmployeeEmail"
                required
                />
              </div>
              <div class="form-group">
                <label for="newEmployeePhone">Số Điện Thoại</label>
                <input
                type="text"
                class="form-control"
                id="newEmployeePhone"
                required
                />
              </div>
              
              <div class="form-group">
                <label for="newEmployeePosition">Chức vụ</label>
                <select
                  id="newEmployeePosition"
                  class="form-control"
                ></select>
              </div>
              <div class="form-group">
                <label for="newEmployeeStatus">Trạng thái</label>
                <select id="newEmployeeStatus" class="form-control">
                  <option value="1">Đang làm việc</option>
                  <option value="0">Nghỉ việc</option>
                </select>
              </div>
              <div class="modal-footer">
                <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                >
                Đóng
                </button>
                <button type="submit" class="btn btn-primary">
                  Lưu Nhân Viên
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
      <!-- Test -->
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'modal.html' ignore missing %} {% include 'footer.html' ignore
    missing %}


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->


  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- DataTables -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
    integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"
    integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
    integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="dist/js/pages/quanlynhanvien.js"></script>
  
</body>

</html>