<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'header.html' ignore missing %}
  <title>Quản lý nhân viên | HTCC KPISYSTEM</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    {% include 'navbar.html' ignore missing %} {% include 'sidebar.html'
    ignore missing %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>QUẢN LÝ NHÂN VIÊN</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Danh sách nhân viên</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="col-lg-12 connectedSortable">
        <!-- Map card -->
        <div class="card">
          <div class="card-header border-0 rows">
            <h3 class="card-title col-lg-7">
              <i class="fa-solid fa-list-ol"></i>
              Danh sách nhân viên
            </h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover" id="bangnv">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center">
                    <input type="checkbox" id="checkAll" />
                  </th>
                  <th scope="col" style="text-align: center">Id</th>
                  <th scope="col" style="text-align: center">Id Thẻ</th>
                  <th scope="col" style="text-align: center">Họ Tên</th>
                  <!-- <th scope="col" style="text-align: center">Giới Tính</th>
                  <th scope="col" style="text-align: center">Ngày Sinh</th> -->
                  <th scope="col" style="text-align: center">Địa chỉ</th>
                  <!-- <th scope="col" style="text-align: center">Điện thoại</th> -->
                  <th scope="col" style="text-align: center">Email</th>
                  <th scope="col" style="text-align: center">Phòng Ban</th>
                  <th scope="col" style="text-align: center">Ca Làm Việc</th>
                  <th scope="col" style="text-align: center">Trạng Thái</th>
                  <th scope="col" style="text-align: center">Thao Tác Thẻ</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'modal.html' ignore missing %} {% include 'footer.html' ignore
    missing %}


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->


  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- DataTables -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
    integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"
    integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
    integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="dist/js/pages/quanlynhanvien.js"></script>
  
</body>

</html>