<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img
      src="{{ url_for('dist', path='/img/logo.png') }}"
      alt="Logo"
      class="brand-image"
    />
    <span class="brand-text font-weight-light">HTCC KPISYSTEM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          id="dashboard_avatar_url"
          class="img-circle elevation-2"
          alt="User Avatar"
        />
      </div>
      <div class="info">
        <a class="d-block" id="dashboard_user_fullname"></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/" class="nav-link" id="dashboard_home">
            <i class="fa-solid fa-city"></i>
            <p>Trang chủ</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="sinhvien">
            <i class="fa-solid fa-address-card"></i>
            <p>QLTT Nhân viên</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="thuctap">
            <i class="fa-solid fa-address-book"></i>
            <p>QL Tài khoản</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="templates">
            <i class="fa-solid fa-calendar-days"></i>
            <p>QL Chấm công</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="danhmuc">
            <i class="fa-solid fa-industry"></i>
            <p>QL Lương tạm thời</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<script src="{{ url_for('dist', path='/js/pages/sidebar.js') }}"></script>
